# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# OS files
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Build output
android/app/build/
ios/build/
web-build/
dist/
build/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*

# Misc
*.log
coverage/